body {
  background: rgba(0, 183, 255, 0.37);
 }

 #delete{
   display : inline;
 }

 .line{
  display : inline;
}
 .thumbnail img{
  width: 100%;
 }

 .thumbnail{
  padding: 0;
 }

 .thumbnail .caption-full{
   padding: 9px;
 }

